# OS
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/
*.swp

# Env / secrets
.env
.env.*
!.env.example

# Logs
*.log

# Build output
dist/
build/
target/
bin/
out/

# Dependencies
node_modules/
vendor/

# Local data
*.db
*.sqlite
*.sqlite3
